@page "/Acc"

<h3>Welcome to Account</h3>

<div>
    <ruby>Job</ruby>
    <input type="text"><br><br>
    <ruby>OGRN</ruby>
    <input type="text" ><br><br>
    <ruby>INN</ruby>
    <input type="text"><br><br>
    <ruby>CPP</ruby>
    <input type="text"><br><br>
    <ruby>Adress</ruby>
    <input type="text"><br><br>
    <ruby>Supervisor</ruby>
    <input type="text"><br><br>
</div>

@code {

}
